# 1. Indexing 
### Write code for retriving values from list by indexing and print a statement message for given lists
### Example 1
* employee_data = ['Ali', 125000, 'Google', 5]
* output: 'Ali is working in Google for 5 years and his salary is 125000'

In [1]:
employee_data = ['Ali',12500,'Google',5]

In [2]:
print(employee_data[0], "is working in",employee_data[2],'for',employee_data[3],'years and his salary is',employee_data[1])

Ali is working in Google for 5 years and his salary is 12500

## Example 2
* studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,
				'28 Januray 2020', '05 February 2020']
### output:

'Hello Ahmed Bilal,
Your application is accepted for admission in "BS Computer Science" in Government College University.
You have to submit fee 50000 before 28 January 2020.
Your classes will start from 05 February 2020.
Thanks'

In [4]:
studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,
          '28 Januray 2020', '05 February 2020']

In [5]:
print('Hello',studentData[0],studentData[1],',','Your application is accepted for admission in"',
      studentData[4],studentData[3],' "in',studentData[2],'You have to submit fee',studentData[-3],
      'before',studentData[-2],'Your classes will start from',studentData[-1],".Thanks'")

Hello Ahmed Bilal , Your application is accepted for admission in" BS Computer Science  "in Government College University You have to submit fee 50000 before 28 Januray 2020 Your classes will start from 05 February 2020 .Thanks'

# 2. Slicing

### Outputs:
#### (For positive slicing)
1. ["Faisalabad", "Lahore", "Islamabad", "Peshawar"]
2. ["Islamabad", "Peshawar", "Quetta", "Sahiwal"]
3. ["Sahiwal", "Rawalpindi", "Sialkot"]

#### (For negative slicing)
1. ['Quetta', 'Sahiwal', 'Rawalpindi']
2. ['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

In [1]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

In [2]:
print(cities[0:4])
print(cities[2:6])
print(cities[5:8])

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']
['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']
['Sahiwal', 'Rawalpindi', 'Sialkot']

In [3]:
print(cities[-4:-1])
print(cities[-5:-1])

['Quetta', 'Sahiwal', 'Rawalpindi']
['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi']

# 3.Update Lists

### * You have a list of student information. You need to update it for following statements
* Add values to this list using append
* studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"] 
#### Add values to this list using append
    * 1. '20 February 2019'
      2. 8

In [4]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]

In [5]:
studentData.append("'20 February 2019'")
studentData.append("8")
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', "'20 February 2019'", '8']

#### Use insert method to insert at specific index
* 1. 25000 at index 4
* 2. 'M. Iqbal' at index 1

In [6]:
studentData.insert(4,25000)
studentData.insert(1,"'M. Iqbal'")
print(studentData)

['Ali Raza', "'M. Iqbal'", 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', "'20 February 2019'", '8']

#### Remove values from list using remove method
1. 'Computer Science'
2. 91.24

In [7]:
studentData.remove('Computer Science')
studentData.remove(91.24)
print(studentData)

['Ali Raza', "'M. Iqbal'", 22, 25000, 5, 'University of Agriculture', "'20 February 2019'", '8']

#### Remove using pop method

1. Last value from list
2. value at 3rd index

In [9]:
studentData.pop(-1)
studentData.pop(3)
print(studentData)

['Ali Raza', "'M. Iqbal'", 22, 5, 'University of Agriculture', "'20 February 2019'"]

#### Update list using list update method:

1. Change Name from 'Ali Raza' to 'Zohaib Ali'
2. Change No of subjects from 5 to 7

In [10]:
studentData[0]="Zohaib Ali"
studentData[3]=7
print(studentData)

['Zohaib Ali', "'M. Iqbal'", 22, 7, 'University of Agriculture', "'20 February 2019'"]

# 4. Multidimensional list tasks
## You have given data of an employee
employeeData = [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]

### For Loop
### Tasks
1. Print name of employees with salaray greater than 50000.
2. Calculate total salary of all employees.

In [12]:
employeeData = [["Ali", 35000, "Software Engineer"], ["Talha", 55000, "Product Manager"],
                ["Nasir", 79000, "Computer Engineer"], ["Khalid", 44000, "DBA"]]

In [ ]:
# Print name of employees with salaray greater than 50000.

In [13]:
for i in employeeData:
    salary = i[-2]
    employee = i [-3]
    if salary >= 50000:
        print (employee)

Talha
Nasir

In [14]:
# Calculate total salary of all employees.

In [15]:
total_salary=0
for t_salary in employeeData:
    total_salary=total_salary+t_salary[-2]

In [16]:
total_salary

213000

### List update tasks
1. Change salary of nasir from 79000 to 90000 and designation to "Product Manager"
2. Change salary of Khalid to 50000

In [17]:
# Change salary of nasir from 79000 to 90000 and designation to "Product Manager"

In [18]:
employeeData[2][1]=90000
employeeData

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 90000, 'Computer Engineer'],
 ['Khalid', 44000, 'DBA']]

In [19]:
# Change salary of Khalid to 50000

In [20]:
employeeData[-1][1]=50000
employeeData

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 90000, 'Computer Engineer'],
 ['Khalid', 50000, 'DBA']]

# 5. Login User
You have given some users data.
* You have to write a script to check if username and password are correct.
* If username and password are correct. Then you have to check if email is verified or not. 
* If it is verified then print Login Succeed else print Email not verified. 
* If username or password are incorrect you have to print Incorrect Login details

In [21]:
# Data 1
username = "faizan1214"
password = "qwerty"
emailVerified = False

In [22]:
if username=="faizan1214" and password == "qwerty" and emailVerified == False:
        print("Login Succeed")
else:
        print("Email Not Varified")

Login Succeed

In [24]:
    # Data 2
username = "faizan1214"
password = "qwerty"
emailVerified = True

In [23]:
if username=="faizan1214" and password == "qwerty" and emailVerified == True:
        print("Login Succeed")
else:
        print("Email Not Varified")

Email Not Varified